<script>
  document.addEventListener('DOMContentLoaded', () => {
    const pagename = "{{ pagename }}";
    const language = "{{ current_language }}";

    if (pagename && language) {
      const switcher = document.querySelector('.version-switcher');
      if (switcher) {
        const links = switcher.querySelectorAll('a');
        links.forEach(link => {
          const versionBaseUrl = link.getAttribute('href');
          if (versionBaseUrl) {
            const newHref = `${versionBaseUrl}${language}/${pagename}.html`;
            link.setAttribute('href', newHref);
          }
        });
      }
    }
  });
</script>

<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="language-switcher-button"
    data-bs-toggle="dropdown" aria-expanded="false">
      {{current_language_name}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="language-switcher-button">
    {% for item in languages %}
        <li>
          <a class="dropdown-item{% if current_language == item.code %} active{% endif %}" 
            href="{{ baseurl }}/{{ current_version }}/{{ item.code }}/{{ pagename }}.html"
            {% if item.direction %}dir="{{ item.direction }}"{% endif %}>
            {{ item.name_local }}
          </a>
        </li>
    {% endfor %}
  </ul>
</div>